<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <main>
            <div class="authInput">
            <h1 class="title">User Login</h1>
            <form action="/auth/login" method="post">
                <input class="input" type="text" placeholder="username" name="username" />
                <input class="input" type="password" placeholder="password" name="password" /> 
                <input class="button" type="submit" value="login" />
            </form>
            </div>

            <!-- <input class="input" type="text" placeholder="Text input"> -->

            <!-- <% if (passwordDoesntMatchError = true) { %>
                <p>Password doesn't match.</p>
            <% } %> -->

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>