<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
        
        <!-- working form -->
        <!-- <form action="/budget/new" method="post">
            <input type="text" placeholder="amount" name="incomeAmount" />
            <input type="text" placeholder="description" name="incomeDescription" />
            <input type="submit" value="add income" />
        </form> -->

        <form action="/budget/expense/new" method="post">
        <div class="field">
            <label class="label">Expense Amount</label>
            <div class="control">
              <input class="input" type="text" placeholder="Amount" name="expenseAmount"/>
              <input class="input" type="text" placeholder="Description" name="expenseDescription"/>
              <button class="button is-primary">Submit Expense</button>
            </div>
          </div>
        </form>

        <!-- <form action="/budget/new" method="POST" >
        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Add Income or Expense
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="control">
                    <label class="radio">
                      <input type="radio" name="answer">
                      Income
                    </label>
                    <label class="radio">
                      <input type="radio" name="answer">
                      Expense
                    </label>
                  </div>
                <br>

                <input class="input" type="text" placeholder="Amount" name="Amount">
                <br><br>
                <input class="input" type="text" placeholder="Description" name="Description">

              </div>
            </div>
            <footer class="card-footer">
              <a href="/budget" class="card-footer-item">Submit</a>
            </footer>
          </div>
        </form> -->
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>