<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
          <div class="navbar-item">
            <div class="buttons">
              <a href='/budget' class="button is-link">
                Back to Budget
              </a>
            </div>
          </div>
        </div>
      </nav>

        <form action="/budget/income/new" method="post" class="box">
        <div class="field">
            <label class="label">Income Amount</label>
            <div class="control">
              <input class="input" type="text" placeholder="Amount" name="incomeAmount"/>
              <input class="input" type="text" placeholder="Description" name="incomeDescription"/>
              <button class="button is-primary">Submit Income</button>
            </div>
          </div>
        </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>