.card {
    max-width: 400px;
    margin: auto;
}

.table {
    min-width: 80%;
    margin: auto;
}

.authInput {
    max-width: 400px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding: 2%;
}

.card {
    text-align: center;
}

/* h1.title {
    margin: 100px;
    vertical-align: middle;
} */

.field {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.control {
    margin: 10px;
}

.input {
    margin: 5px;
}

tr {
    text-align: center;
}

td {
    vertical-align: bottom;
}

.message {
    text-align: center;
}

.message-header {
    text-align: center;
}

.box {

    min-width: 500px;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 
}

/* form {

    min-width: 500px;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 
} */

/* .title {
    font-size: 50px;
} */